<div class="container">

  <div class="row">

    <div class="col-md-12 me-auto">

      <h1 style="color:black";>About</h1>

      <p style="font-size:20px;">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上りいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。</p>

      <%= image_tag 'AdobeStock_219967674.jpg' , style:"width:500px; height:auto;"%>

    </div>

  </div>

</div>

<style>
  .col-md-12{
    text-align:center;
  }
</style>